[submodule "libs/libfmt"]
	path = external/libfmt
	url = https://github.com/fmtlib/fmt
[submodule "tools/coveralls"]
	path = tools/coveralls
	url = https://github.com/mbits-libs/coveralls.git
[submodule "tools/testing"]
	path = tools/testing
	url = https://github.com/mbits-libs/testing.git
[submodule "external/libargs"]
	path = external/libargs
	url = https://github.com/mbits-libs/libargs.git
